@media only screen and (max-width: 767px) {
  /*=============================================
=             03. Footer CSS                 =
=============================================*/

  .footer-menu ul {
    list-style-type: none;
    display: block;
    margin-left: -10px;
    line-height: 35px;
    margin-top: 30px;
  }
  .footer-menu ul li{
    list-style-type: none;
    display: block;
    margin-left: -10px;
  }
}
