@media only screen and (max-width: 767px) {
  .content-title {
    font-size: 1.4rem;
  }

  .section-space {
    padding: 1rem 0rem;
  }
  .keos-navbar {
    padding: 20px 0px;
  }

  .keos-navbar-menu {
    align-items: normal;
  }
  .keos-navbar-menu .sl-secondary-btn {
    margin: 10px 0px;
  }
  /*=============================================
=             03. Footer CSS                 =
=============================================*/

  .footer-menu ul {
    list-style-type: none;
    display: block;
    margin-left: -10px;
    line-height: 35px;
    margin-top: 30px;
  }
  .footer-menu ul li {
    list-style-type: none;
    display: block;
    margin-left: -10px;
  }

  .guide-card {
    min-height: 120px;
  }
}
