:root {
  /* Colors: */
  --color-blue-crayola-7: #94efff;
  --color-blue-crayola-6: #7eecff;
  --color-blue-crayola-1: #29dfff;
  --color-blue-crayola-3: #3ee2ff;
  --color-green-crayola-1: #2ce3ac;
  --color-green-crayola-5: #7effd8;
  --color-blue-1: #2866ff;
  --color-rose-2: #ff3e8f;
  --color-rose-1: #ff2982;
  --color-orange-1: #f18f01;
  --color-purple-2: #aa34fd;
  --white: #ffffff;
  --black-keos: #000000;
}

/*=============================================
=             01. Default Css                 =
=============================================*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.74;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  visibility: visible;
  font-family: "Cerebri Sans", sans-serif;
  color: #ebebeb;
  position: relative;
  background-color: var(--black-keos);
}

p {
  font-size: 18px;
  opacity: 0.9;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 25px;
}

a {
  text-decoration: none;
  color: #ebebeb;
  transition: 0.4s ease-in-out;
}

a:hover{
  text-decoration: underline;
  color: var(--color-blue-1);
}

.section-space {
  padding: 3rem 0rem;
}

.sl-primary-btn {
  background-color: var(--color-blue-1);
  border: 1px solid var(--color-blue-1);
  outline: none;
  border-radius: 50px;
  padding: 12px 20px;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}

.sl-primary-btn:hover {
  box-shadow: 5px 6px 20px 1px rgba(148, 147, 147, 0.338);
  -webkit-box-shadow: 5px 6px 20px 1px rgba(148, 147, 147, 0.338);
  -moz-box-shadow: 5px 6px 20px 1px rgba(148, 147, 147, 0.338);
}

.sl-secondary-btn{
  background-color: transparent;
  border: 1px solid var(--white);
  outline: none;
  border-radius: 25px;
  padding: 6px 20px!important;
  margin: 0px 10px;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}
.sl-secondary-btn:hover{
  background-color: #7ea1ff;
  border: 1px solid #7ea1ff;
  outline: none;
  border-radius: 25px;
  padding: 6px 20px!important;
  margin: 0px 10px;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}
.content-title {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 45px;
}

.content-title > span {
  font-weight: 800;
}

.sl-bg-yellow {
  background-color: var(--color-orange-1);
}
.sl-bg-green {
  background-color: #41ad48;
}
.sl-bg-sky-blue {
  background-color: #7ea1ff;
}
.sl-bg-red {
  background-color: #dc3023;
}
.sl-bg-dark-gradient {
  background: linear-gradient(180deg, #262525 0%, #171819 100%);
}

/*=============================================
=             01. Navbar CSS                 =
=============================================*/

#header-menu {
  /* position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: position 0.5s ease;
  z-index: 999; */
  background-color: #000000;
}

.keos-navbar {
  border-bottom: 1px solid rgb(78, 78, 78);
  padding: 50px 0px;
}

.keos-navbar > nav {
  border-radius: 40px;
  padding: 10px 20px;
}

.keos-navbar > nav > .navbar-brand {
  font-weight: 900 !important;
}

/*=============================================
=             02. Home Page (Banner) CSS                 =
=============================================*/
.banner-content p.content {
  margin-top: 2rem;
  font-size: 18px;
  opacity: 0.8;
}

.form-shares-content img {
  max-width: 240px;
}

.form-shares-content .content-title span {
  color: #7ea1ff;
}

.form-shares-content ul {
  margin-top: 2rem;
  margin-left: 1rem;
  line-height: 35px;
  opacity: 0.9;
}

.card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #7ea0ff52;
  border-radius: 15px;
}

.card-item img,
.dots-card img {
  width: 80px;
}

.card-item h3,
.dots-card h3 {
  color: #7ea1ff;
  text-align: center;
  margin-top: 2rem;
  font-size: 1.4rem;
}

.card-item p {
  font-size: 16px;
  text-align: center;
  font-size: 18px;
  opacity: 0.9;
  margin-top: 15px;
}

.form-template > .content-title {
  text-transform: capitalize;
  text-align: center;
}

.form-template > .content-title > span {
  color: #7ea1ff;
}

.dots-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #7ea1ff;
  border-radius: 15px;
}

.card-item img {
  width: 80px;
}

.dots-card h3 {
  margin-top: 10px;
}

.guide-card {
  background: linear-gradient(180deg, #262525 0%, #171819 100%);
  min-height: 200px;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.guide-card .content p {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0;
  opacity: 0.7;
  margin-top: 10px;
}
.sl-badge {
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 2px 12px;
  display: inline-block;
  font-size: 15px;
}

.features-section-title {
  background-color: #7ea1ff;
  display: inline;
  padding: 7px 25px;
  border-radius: 35px;
  font-weight: bold;
  font-size: 1.5rem;
}
.features-btn {
  border: 0;
  outline: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}

.features-card h5,
.features-card p {
  margin-left: 20px;
}
.features-card p {
  font-size: 16px;
  opacity: 0.8;
}
.features-btn svg {
  fill: white;
}

/*=============================================
=             03. Footer CSS                 =
=============================================*/
#footer {
  background-color: #070707;
}

.footer-menu ul {
  list-style-type: none;
  display: inline-flex;
  gap: 15px;
}

.social p {
  font-size: 16px;
  margin-left: 10px;
}
.social ul {
  list-style-type: none;
}
.social ul li {
  margin: 0 5px;
  display: inline;
  font-size: 15px;
}

.social ul li svg {
  fill: white;
}

.social ul li:first-child {
  margin: 0;
}

.footer-bottom p{
  font-size: 14px;
}
.partner img{
  max-width: 70px;
  margin-right: 20px;
}